.login {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.login .textfield {
  width: 300px;
  margin: 10px 0;
}

.header {
  text-align: center;
  color: #888;
}

.pull-left {
  float: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.top-padding {
  padding-top: 10px;
}

.padding-10 {
  padding: 10px;
}

.padding-50 {
  padding: 50px;
}
